In [2]:
import pandas as pd

In [3]:
arch_1 = '/Users/monzon8/Documents/Ironhack/PROYECTOS/05_EDA/vanguard-ab-test/CSV/df_final_web_data_pt_2.csv'
arch_2 = '/Users/monzon8/Documents/Ironhack/PROYECTOS/05_EDA/vanguard-ab-test/CSV/df_final_web_data_pt_1.csv'
arch_3 = '//Users/monzon8/Documents/Ironhack/PROYECTOS/05_EDA/vanguard-ab-test/CSV/df_final_experiment_clients.csv'
arch_4 = '/Users/monzon8/Documents/Ironhack/PROYECTOS/05_EDA/vanguard-ab-test/CSV/df_final_demo.csv'

# Cargo los datos en DataFrames
df_web_data_pt_2 = pd.read_csv(arch_1)
df_web_data_pt_1 = pd.read_csv(arch_2)
df_experiment_clients = pd.read_csv(arch_3)
df_demo = pd.read_csv(arch_4)

# Explorar las primeras filas de cada archivo
df_web_data_pt_2.head(), df_web_data_pt_1.head(), df_experiment_clients.head(), df_demo.head()

(   client_id             visitor_id                      visit_id  \
 0     763412  601952081_10457207388  397475557_40440946728_419634
 1    6019349  442094451_91531546617  154620534_35331068705_522317
 2    6019349  442094451_91531546617  154620534_35331068705_522317
 3    6019349  442094451_91531546617  154620534_35331068705_522317
 4    6019349  442094451_91531546617  154620534_35331068705_522317

   process_step            date_time
 0      confirm  2017-06-06 08:56:00
 1      confirm  2017-06-01 11:59:27
 2       step_3  2017-06-01 11:58:48
 3       step_2  2017-06-01 11:58:08
 4       step_1  2017-06-01 11:57:58  ,
    client_id            visitor_id                      visit_id process_step  \
 0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
 1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
 2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
 3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
 4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

              date_time
 0  2017-04-17 15:27:07
 1  2017-04-17 15:26:51
 2  2017-04-17 15:19:22
 3  2017-04-17 15:19:13
 4  2017-04-17 15:18:04  ,
    client_id Variation
 0    9988021      Test
 1    8320017      Test
 2    4033851   Control
 3    1982004      Test
 4    9294070   Control,
    client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
 0     836976             6.0              73.0      60.5     U        2.0
 1    2304905             7.0              94.0      58.0     U        2.0
 2    1439522             5.0              64.0      32.0     U        2.0
 3    1562045            16.0             198.0      49.0     M        2.0
 4    5126305            12.0             145.0      33.0     F        2.0

          bal  calls_6_mnth  logons_6_mnth
 0   45105.30           6.0            9.0
 1  110860.30           6.0            9.0
 2   52467.79           6.0            9.0
 3   67454.65           3.0            6.0
 4  103671.75           0.0            3.0  )

In [4]:
df_web_data_combinado = pd.concat([df_web_data_pt_1, df_web_data_pt_2])

In [6]:
df_web_data_combinado.to_csv('df_web_data_combinado.csv', index=False)

In [7]:
# Métricas de interacciones por visita
interacciones = df_web_data_combinado.groupby('visit_id').agg({
    'process_step': 'count',  # Nº pasos por visita
    'date_time': ['min', 'max']  # Duración
}).reset_index()

interacciones.columns = ['visit_id', 'step_count', 'start_time', 'end_time']
interacciones['visit_duration'] = pd.to_datetime(interacciones['end_time']) - pd.to_datetime(interacciones['start_time'])

In [8]:
interacciones

,visit_id,step_count,start_time,end_time,visit_duration
0,100012776_37918976071_457913,2,2017-04-26 13:22:17,2017-04-26 13:23:09,0 days 00:00:52
1,1000165_4190026492_760066,5,2017-06-04 01:07:29,2017-06-04 01:09:50,0 days 00:02:21
2,100019538_17884295066_43909,11,2017-04-09 16:20:56,2017-04-09 16:24:58,0 days 00:04:02
3,100022086_87870757897_149620,5,2017-05-23 20:44:01,2017-05-23 20:47:01,0 days 00:03:00
4,100030127_47967100085_936361,1,2017-03-22 11:07:49,2017-03-22 11:07:49,0 days 00:00:00
...,...,...,...,...,...
158090,999986292_55082159911_561557,2,2017-04-25 18:31:17,2017-04-25 19:02:52,0 days 00:31:35
158091,999988789_76411676596_272843,5,2017-04-21 23:49:11,2017-04-21 23:51:09,0 days 00:01:58
158092,999989069_52203656268_170206,2,2017-06-07 13:18:26,2017-06-07 13:18:30,0 days 00:00:04
158093,999991142_15352368745_399725,1,2017-04-08 13:21:03,2017-04-08 13:21:03,0 days 00:00:00
158094,999992932_41666455053_671149,6,2017-06-06 15:46:03,2017-06-06 16:05:34,0 days 00:19:31

In [ ]:
interacciones.to_csv('interacciones.csv', index=False)

In [10]:
# Filtrar interacciones con pasos clave
key_steps = df_web_data_combinado[df_web_data_combinado['process_step'].isin(['start', 'confirm'])]

In [11]:
key_steps

,client_id,visitor_id,visit_id,process_step,date_time
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01
...,...,...,...,...,...
412251,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 19:02:04
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [12]:
# Groupby 'visitor_id' y verifico si hay algún "confirm"
confirm_stats = key_steps.groupby('visitor_id')['process_step'].apply(lambda x: 'confirm' in x.values).value_counts()

In [14]:
confirm_stats

process_step
True     82503
False    47565
Name: count, dtype: int64